* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* Nav bar */
nav {
  width: 100%;
  display: flex;
  position: fixed;
  height: 48px;
  padding: 0 16px;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(800px);
}

.logo {
  padding-right: 50px;
}

.nav_content {
  display: flex;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search,
.cart,
.phn_group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.nav_svg {
  display: flex;
  align-items: center;
  gap: 20px; /* spacing between search & cart */
}

.nav_links {
  display: flex;
  align-items: center;
  gap: 35px;
  font-size: 11px;
  font-weight: 90;
}

.emi_offer {
  padding-top: 60px;
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  background: white;
  color: black;
  flex-wrap: wrap;
}
.emi_offer p {
  font-size: small;
}

.emi_offer p a {
  color: #5a98ec;
}

.iphone {
  display: flex;
  background: #f5f5f7;
  width: 100%;
  height: auto;
  justify-content: center;
  text-align: center;
  padding-top: 61px;
  height: 600px;
  background-image: url("./hero_iphone.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.macbook {
  display: flex;
  background: #f5f5f7;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding-top: 61px;
  height: 600px;
  background-image: url("https://www.apple.com/v/home/cm/images/heroes/macbook-neo/hero_macbook_neo__gnm3snkti4a6_medium_2x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10px;
}
.iphone a h2,
.macbook a h2,
.airpods3 a h2 {
  color: black;
  font-size: 48px;
  line-height: 1.08349;
}
.apple_watch {
  display: flex;
  background: #f5f5f7;
  width: 100%;
  height: 800px;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  padding-top: 61px;
  align-items: center;
  margin-top: 10px;
  background-image: url("https://www.apple.com/in/home/images/heroes/apple-watch-series-11/hero_apple_watch_series_11__bdz1mml4dx6q_medium_2x.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-top: 80px;
}
.ipadair,
.macbookpro,
.airpods3,
.ipadpro,
.watchultra,
.promo {
  display: flex;
  background: #f5f5f7;
  height: 500px;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  padding-top: 61px;
  align-items: center;
  margin-top: 10px;
  background-image: url("https://www.apple.com/v/home/cm/images/promos/ipad-air-m4/promo_ipad_air_m4__f9ie3h3pzr6m_large_2x.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-top: 65px;
}

.macbookpro {
  background-image: url(./macbookpro.jpg);
}

.macbookpro a h2,
.ipadpro a h2,
.watchultra a h2 {
  text-decoration: none;
  color: white;
  font-size: 48px;
  line-height: 1.08349;
}

.macbookpro a p,
.ipadpro a p,
.watchultra a p {
  text-decoration: none;
  color: rgb(255, 254, 255);
  font-size: 18px;
  margin-top: 5px;
}

.airpods3 {
  background-image: url("./airpods3.jpg");
}
.ipadpro {
  background-image: url("./ipadpro.jpg");
}
.watchultra {
  background-image: url("./watchultra.jpg");
}
.promo {
  background-image: url("./promo.jpg");
}
.apple_watch img {
  width: 500px;
  height: 55px;
}

.others {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  background: #fff;
}

.iphone a p,
.macbook a p,
.apple_watch a p,
.airpods3 a p,
.promo a p {
  color: black;
  font-size: 24px;
  margin-top: 5px;
}
.ipadair a p {
  color: black;
  font-size: 18px;
  margin-top: 5px;
}

.iphone_btn {
  margin-top: 18px;
}

.learnmore {
  color: white;
  background: #0071e3;
  border: none;
  border-radius: 980px;
  text-align: center;
  font-size: 17px;
  min-width: 28px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.shopiphn {
  color: #0071e3;
  background: white;
  border: 1px solid #0071e3;
  border-radius: 980px;
  font-size: 17px;
  min-width: 28px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 11px;
  padding-bottom: 11px;
}
.shopiphn:hover {
  color: white;
  background: #0071e3;
}
.tv-slider {
  position: relative;
  width: 100%;
  padding: 20px 0px;
  background: white;
  overflow: visible;
}

.swiper {
  width: 100%;
  padding: 10px 0;
  overflow: visible;
}

.swiper-slide {
  border-radius: 20px;
  transform: scale(0.85);
  transition: all 0.4s ease;
}

.swiper-slide-active {
  transform: scale(1);
  opacity: 1;
}

.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.5;
}

.swiper-slide img {
  width: 100%;
  height: 500px;
  object-fit: fill;
}

.overlay {
  position: absolute;
  bottom: 30px;
  left: 10px;
  color: white;
}

.overlay button {
  background: white;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.swiper-pagination-bullet {
  background: #999;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #000;
}

.pause-btn {
  position: absolute;
  bottom: 20px;
  right: 40px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.footer {
  background: #f5f5f7;
  padding: 20px 0;
}

.footer_top {
  max-width: 980px;
  margin: auto;
  padding: 0 20px;
}

.footer_top p {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.56);
}
.footer_top hr {
  max-width: 980px;
  margin: 15px auto;
  border: none;
  border-top: 1px solid #d2d2d7;
}

.footer_bottom {
  background: #f5f5f7;
  padding: 20px 0;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.56);
}

/* top line */
.footer_bottom_top {
  max-width: 980px;
  margin: auto;
  padding: 0 20px;
}

.footer_bottom_top a {
  color: #0066cc;
  text-decoration: none;
}
.footer_links_section {
  max-width: 980px;
  margin: auto;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;

  font-size: 12px;
}

.footer_col {
  display: flex;
  flex-direction: column;
}

.footer_col h4 {
  font-weight: 600;
  margin-bottom: 10px;
  color: black;
}

.footer_col a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.559);
  margin-bottom: 8px;
}

.footer_col a:hover {
  text-decoration: underline;
}

/* divider */
.footer_bottom hr {
  max-width: 980px;
  margin: 15px auto;
  border: none;
  border-top: 1px solid #d2d2d7;
}

/* main bottom row */
.footer_bottom_main {
  max-width: 980px;
  margin: auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* links */
.footer_links {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.footer_links a {
  color: rgba(0, 0, 0, 0.72);
  text-decoration: none;
  position: relative;
}

/* separator like Apple */
.footer_links a::after {
  content: "|";
  margin-left: 10px;
  color: #999;
}

.footer_links a:last-child::after {
  content: "";
}

/* country */
.country {
  margin-left: auto;
}
@media (min-width: 768px) {
  .phn_group {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav_links {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  .nav_content {
    display: flex;
    justify-content: space-between;
  }

  .nav_svg {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .iphone {
    background-image: url("https://www.apple.com/v/home/cm/images/heroes/iphone-family/hero_iphone_family__fuz5j2v5xx6y_small_2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 734px 500px;
  }
  .macbook {
    background-image: url("https://www.apple.com/v/home/cm/images/heroes/macbook-neo/hero_macbook_neo__gnm3snkti4a6_small_2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 734px 500px;
  }
  .apple_watch {
    background-image: url("https://www.apple.com/in/home/images/heroes/apple-watch-series-11/hero_apple_watch_series_11__bdz1mml4dx6q_small_2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 734px 500px;
  }
  .others {
    grid-template-columns: 1fr;
    margin: 0px;
  }
  .ipadair {
    background-image: url("https://www.apple.com/in/home/images/heroes/apple-watch-series-11/hero_apple_watch_series_11__bdz1mml4dx6q_small_2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 734px 500px;
  }
}
